:root {
    --bs-blue: #1e30f3;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #e21e80;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #1e30f3;
    --bs-secondary: #e21e80;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}

body{
    overflow-x: hidden;
    font-family: "Times New Roman;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: "Lucida Console", "Courier New", monospace; */
}

/* Navbar */
#navbar a{
    color: var(--bs-primary);
    font-weight: bold;
}
#navbar ul li a {
    color: var(--bs-gray-dark);
    font-weight: 500px;
}
#navbar .btn{
    background: var(--bs-indigo);
    color: #fff;
}

/* Header */
#header p span{
    color: var(--bs-indigo);
}
#header .btn{
    width: 170px;
    padding: 12px 28px;
    font-weight: 700;
    transition: 0.7s;
}
#header .btn:hover{
    background: linear-gradient(to left, var(--bs-indigo), var(--bs-pink));
    color: var(--bs-white);
}
#header img{
    width: auto; /*400px*/
    height: 500px;
    object-fit: cover;
}


/* About */
#about h1{
    color: var(--bs-indigo);
}
#about img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 150px;
}
.overlay{
    /* background: linear-gradient(to left, var(--bs-primary), var(--bs-indigo), var(--bs-pink), var(--bs-purple)); */
    background: var(--bs-indigo);
}

/* Education */
#education h1{
    color: var(--bs-indigo);
}
#education h3{
    color: var(--bs-primary);
}
#education .card-all{
    background: var(--bs-light);
    border-radius: 10%;
    transition: 0.5s;
}
#education .card-all:hover{
    background: var(--bs-warning);
    scale: 1.05;
}

/* Skill */
#skill h1{
    color: var(--bs-indigo);
}
.error{
    background: var(--bs-light);
    transition: 0.3s ease-in-out;
}
.error:hover{
    background: #3b1f2b;
    color: var(--bs-white);
    scale: 1.05;
}
.problem{
    background: var(--bs-light);
    transition: 0.3s ease-in-out;
}
.problem:hover{
    background: #FFDB58;
    color: var(--bs-white);
    scale: 1.05;
}
.time{
    background: var(--bs-light);
    transition: 0.3s ease-in-out;
}
.time:hover{
    background: #6F4E37;
    color: var(--bs-white);
    scale: 1.05;
}
.agile{
    background: var(--bs-light);
    transition: 0.3s ease-in-out;
}
.agile:hover{
    background: #6F4E37;
    color: var(--bs-white);
    scale: 1.05;
}
.html{
    background: var(--bs-light);
    transition: 0.3s ease-in-out;
}
.html:hover{
    background: var(--bs-gray-900);
    color: var(--bs-white);
    scale: 1.05;
}
.css{
    background: var(--bs-light);
    transition: 0.3s ease-in-out;
}
.css:hover{
    background: var(--bs-primary);
    color: var(--bs-white);
    scale: 1.05;
}
.bootstrap{
    background: var(--bs-light);
    transition: 0.3s ease-in-out;
}
.bootstrap:hover{
    background: rgb(49, 28, 63);
    color: var(--bs-white);
    scale: 1.05;
}
.js{
    background: var(--bs-light);
    transition: 0.3s ease-in-out;
}
.js:hover{
    background: yellowgreen;
    color: var(--bs-white);
    scale: 1.05;
}
.php{
    background: var(--bs-light);
    transition: 0.3s ease-in-out;
}
.php:hover{
    background: rgb(246, 119, 246);
    color: var(--bs-white);
    scale: 1.05;
}
.laravel{
    background: var(--bs-light);
    transition: 0.3s ease-in-out;
}
.laravel:hover{
    background: rgb(247, 168, 8);
    color: var(--bs-white);
    scale: 1.05;
}
.java{
    background: var(--bs-light);
    transition: 0.3s ease-in-out;
}
.java:hover{
    background: rgb(230, 174, 106);
    color: var(--bs-white);
    scale: 1.05;
}
.mysql{
    background: var(--bs-light);
    transition: 0.3s ease-in-out;
}
.mysql:hover{
    background: rgb(81, 214, 81);
    color: var(--bs-white);
    scale: 1.05;
}
.vs-code{
    background: var(--bs-light);
    transition: 0.3s ease-in-out;
}
.vs-code:hover{
    background: rgb(63, 63, 172);
    color: #fff;
    scale: 1.05;
}
.postman{
    background: var(--bs-light);
    transition: 0.3s ease-in-out;
}
.postman:hover{
    background: orange;
    color: #fff;
    scale: 1.05;
}


/* Service */
#service h1{
    color: var(--bs-indigo);
}
#service h3{
    color: var(--bs-primary);
}
#service img{
    width: auto;
    height: 350px;
    object-fit: cover;
}
#service .scale{
    transition: 0.5s;
}
#service .scale:hover{
    scale: 1.1;
}


/* Contact */
#contact h1{
    color: var(--bs-indigo);
}
#contact h2{
    color: var(--bs-purple);
}
#contact h3{
    color: var(--bs-purple);
}
#contact button{
    background:  var(--bs-indigo);
    color: #fff;
}

/* Footer */
#footer{
    /* background: linear-gradient(to left, var(--bs-primary), var(--bs-indigo), var(--bs-pink), var(--bs-purple)); */
    background: var(--bs-indigo);
}

.up-arrow{
    display: block;
    width: 38px;
    height: 38px;
    background: var(--bs-dark);
    font-size: 1.1rem;
    color: var(--bs-white);
    position: fixed;
    bottom: 5px;
    right: 5px;
}